* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.logo-mario {
  width: 220px;
}

.imagem-mario-luigi {
  height: 600px;
}

.caixa-principal {
  width: 40%;
}

.video-mario {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  top: 0;
  min-height: 100%; /* altura */
  min-width: 100%; /*largura*/
}

.mascara-video {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}

p {
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

button {
  height: 40px;
  width: 150px;
  background: #c51111;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.fale-conosco {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  position: fixed;
  left: -280px;
  transition: left 1s linear;
  z-index: 4;
}

input {
  height: 30px;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 10px;
  outline-color: chartreuse;
}

textarea {
  height: 90px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
  outline-color: chartreuse;
}

.mascara-form {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}

@media screen and (max-width: 780px) {
  .caixa-principal {
    width: 100%;
    padding: 20px 5% 20px;
  }

  .logo-mario {
    width: 100%;
    max-width: 170px;
    margin-left: 75px;
    
    
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    
  }

  button {
    margin-left: 95px;
    text-align: center;
  }

  .imagem-mario-luigi {
    width: 240px;
    height: auto;
    
    
  }

  body {
    flex-direction: column;
    
    height: 90%;
  }

  .fale-conosco {
    display: flex;
    position: fixed;
    z-index: 4;
    left: -285px;
    transition: left 0.5s linear;
    
    
  }
}
